---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  <table border="0">
    <tr>
      <td valign='top'>
        <p>Rules: </p>
        <ul>
          <li>None, Hopfully there will never be need for any. Don't be the reason a rule is made.</li>
        </ul>
      </td>
      <td valign='top'>
       <p>Settings: </p>
       <ul>
         <li>Allow guests to comment (No loggin required)</li>
         <li>Comments containing links must be approved before they are published.</li>
         <li>Do not display a comment once it is flagged 3 times</li>
         <li>Comments don't need to be approved before they are published.</li>
         <li>Default Sort: Newest first</li>
       </ul>      
      </td>
    </tr>
  </table>

   
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = '{{site.url}}{{page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.url = this.page.url.replace('https://', 'http://'); 
this.page.identifier = '{{page.id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://425east11.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                              

<script id="dsq-count-scr" src="//425east11.disqus.com/count.js" async></script>    



</div>